<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" crossorigin="anonymous">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💸</text></svg>">
	<title>WhyDoIFeelBroke.com</title>
</head>
<style>
	{% include 'dist/style.css' %}
</style>
<body class="bg-gradient-to-r from-green-300 to-green-500 dark:from-blue-700 dark:to-blue-950" onload="initLoad()">
	<!-- TODO Consider a desktop-version, as this doesn't look great on the desktop. -->
	<nav class="bg-white border-gray-200 dark:bg-gray-900">
		<div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
		  <a class="flex items-center" href="#incomeSection">
			  <span class="self-center text-2xl font-semibold whitespace-nowrap text-black dark:text-white">WhyDoIFeelBroke.com</span>
		  </a>
		<div class="flex items-center">
			<a id="countryClick" class="">
				<span id="countryFlag" class="mr-6 text-2xl text-gray-500 dark:text-white">🇺🇸</span>
				<div id="countryName" style="display: none">US</div>
			</a>
		</div>
		</div>
	</nav>
	<nav class="bg-gray-50 dark:bg-gray-700">
		<div class="mx-auto max-w-screen-xl px-4 py-2">
			<ul class="grid grid-cols-5 list-none p-0 m-0">
				<li class="leading-tight">
					<a class="text-gray-900 dark:text-white hover:underline block text-center" href="#salarySection">💸</a>
				</li>
				<li class="leading-tight">
					<a class="text-gray-900 dark:text-white hover:underline block text-center" href="#carSection">🚗</a>
				</li>
				<li class="leading-tight">
					<a class="text-gray-900 dark:text-white hover:underline block text-center" href="#rentSection">🏢</a>
				</li>
				<li class="leading-tight">
					<a class="text-gray-900 dark:text-white hover:underline block text-center" href="#homeSection">🏠</a>
				</li>
				<li class="leading-tight">
					<a class="text-gray-900 dark:text-white hover:underline block text-center" href="#tuitionSection">🎓</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="scrollport text-gray-500 dark:text-gray-300">
		<div class="container-fluid px-8" id="incomeSection">
			<div style="height: 40px;"></div>
			<h2 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl text-center">Income</h2>
			<div class="flex">
				<div class="mx-auto text-center">What would it take today to be the equivalent of a six-figure earner when you were born?</div>
			</div>
			<div class="flex">
				<div class="flex-1"><input class="text-gray-500 appearance-none border rounded w-full py-2 px-3" style="width: 33%;" type="number" name="yearBorn" id="yearBorn" value="1992" min="1947" max="2021"/></div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center">You would need to make </div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center"><h1 class="font-extrabold text-lg" id="value"></h1></div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center sticky-center"><p>in 2023 to be the equivalent of a six-figure earner in <span id="inYearBorn" class="year"></span></p></div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center"><p>Likewise, if you currently make <span id="hundredThousand"></span>; it's the equivalent of </p></div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center"><h1 class="font-extrabold text-lg" id="pastValue"></h1></div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center"><p> in <span id="yearBornPastValue" class="year"></span></p></div>
			</div>
			<div class="flex">	
				<div class="mx-auto text-center"><p>What about a millionaire? If you wanted to be the equivalent of a millionare in <span class="year"></span>, you would need to currently have <span style="font-weight: bold;" id="millionaire"></span></p></div>
			</div>
		</div>
		<div class="container-fluid px-8" id="salarySection">
			<div style="height: 40px;"></div>
			<!-- Salary With Inflation -->
			<h2 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl text-center">Salary Change</h2>
			<div class="flex">
				<div class="flex-1">
					<div class="mx-auto text-center">What year did you start working at your current company?</div>
				</div>
			</div>
			<div class="flex">
				<div class="flex-1">
					<input class="text-gray-500 appearance-none border rounded w-full py-2 px-3" style="width: 33%;" type="number" id="yearStarted" name="yearStarted"/>
				</div>
			</div>
			<div class="flex">
				<div class="flex-1">
					<div class="mx-auto text-center">What was your salary?</div>
				</div>
			</div>
			<div class="flex">
				<div class="flex-1">
					<input class="text-gray-500 appearance-none border rounded w-full py-2 px-3" style="width: 33%;" type="number" name="startingIncome" id="startingIncome"/>
				</div>
			</div>
			<div style="display: none" id="inflatedSalarySection">
				<div class="flex">
					<div class="mx-auto text-center"><p>Your current income should be</p></div>
				</div>
				<div class="flex">
					<div class="mx-auto text-center"><h3 id="inflatedSalary"></h3></div>
				</div>
				<div class="flex">
					<div class="mx-auto text-center"><p>to have the same spending power as when you started.</p></div>
				</div>
			</div>
		</div>
		<div class="container-fluid px-8" id="carSection">
			<div style="height: 40px;"></div>
			<!-- Car prices -->
			<h2 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl text-center">Automobiles</h2>
			<div class="flex">
				<div class="mx-auto text-center">What did a typical car cost in <span class="year"></span>?</div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center"><p>You would've purchased something like a</p></div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center"><h1 class="font-extrabold text-lg"  id="carName"></h1></div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center"><p>for roughly</p></div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center"><h1 class="font-extrabold text-lg"  id="carValueThen"></h1></div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center sticky-center"><p>which is the equivalent of </p></div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center"><h1 class="font-extrabold text-lg"  id="carValueNow"></h1></div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center"><p>in 2023 dollars.</p></div>
			</div>
			<div class="flex">	
				<div class="mx-auto text-center"><p>The actual typical cost of a new car now is <span style="font-weight: bold;" id="actualCarValueNow"></span> for something like a <span style="font-weight: bold;" id="actualCarNameNow"></span> (the most popular car currently being sold).</p></div>
			</div>
		</div>
		<div class="container-fluid px-8" id="rentSection">
			<div style="height: 40px;"></div>
			<!-- Rent prices  -->
			<h2 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl text-center">Rent</h2>
			<div class="flex">
				<div class="mx-auto text-center">What did monthly rent typically cost in <span class="year"></span>?</div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center"><p>The average rent in the US was</p></div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center"><h1 class="font-extrabold text-lg"  id="rentPriceThen"></h1></div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center sticky-center"><p>which is the equivalent of </p></div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center"><h1 class="font-extrabold text-lg"  id="rentPriceNow"></h1></div>
			</div>
			<div class="flex">
				<div class="mx-auto text-center"><p>in 2023 dollars.</p></div>
			</div>
			<div class="flex">	
				<div class="mx-auto text-center"><p>The actual average cost of rent now is <span style="font-weight: bold;" id="actualRentNow"></span>.</p></div>
			</div>

		</div>
		
		<div class="container-fluid px-8" id="homeSection">
			<div style="height: 40px;"></div>
			<!-- Home prices
			TODO maybe eventually break down by top cities, maybe also show home sizes -->
			<h2 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl text-center">Home Purchases</h2>
			<span id="houseDisclaimer"></span>
			<div id="homeTable">
				<div class="flex">
					<div class="mx-auto text-center">What did a house cost to buy in <span class="year"></span>?</div>
				</div>
				<div class="flex">
					<div class="mx-auto text-center"><p>The average home price in the US was</p></div>
				</div>
				<div class="flex">
					<div class="mx-auto text-center"><h1 class="font-extrabold text-lg"  id="homePriceThen"></h1></div>
				</div>
				<div class="flex">
					<div class="mx-auto text-center sticky-center"><p>which is the equivalent of </p></div>
				</div>
				<div class="flex">
					<div class="mx-auto text-center"><h1 class="font-extrabold text-lg" id="homePriceNow"></h1></div>
				</div>
				<div class="flex">
					<div class="mx-auto text-center"><p>in 2023 dollars.</p></div>
				</div>
				<div class="flex">	
					<div class="mx-auto text-center"><p>The actual average cost of a home now is <span style="font-weight: bold;" id="actualHomeNow"></span>.</p></div>
			</div>
			</div>
		</div>
		<div class="container-fluid px-8" id="tuitionSection">
			<div style="height: 40px;"></div>
			<!--Tuition costs -->
			<h2 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl text-center">Tuition</h2>
			<span id="tuitionDisclaimer"></span>
			<div id="tuitionTable">
				<div class="flex">
					<div class="mx-auto text-center">What did it cost to go to college in  <span class="year"></span>?</div>
				</div>
				<div class="flex">
					<div class="mx-auto text-center"><p>A four-year degree at a public university was</p></div>
				</div>
				<div class="flex">
					<div class="mx-auto text-center"><h1 class="font-extrabold text-lg"  id="publicTuitionThen"></h1></div>
				</div>
				<div class="flex">
					<div class="mx-auto text-center"><p>which is the equivalent of </p></div>
				</div>
				<div class="flex">
					<div class="mx-auto text-center"><h1 class="font-extrabold text-lg"  id="publicTuitionNow"></h1></div>
				</div>
				<div class="flex">
					<div class="mx-auto text-center"><p>in 2023 dollars.</p></div>
				</div>
				<div class="flex sticky-center">	
					<div class="mx-auto text-center"><p>What about a a private university? If you wanted to attend a private university for a four-year degree in <span class="year"></span>, you would have spent ~<span style="font-weight: bold;" id="privateTuitionThen"></span>, which is the equivalent of <span style="font-weight: bold;" id="privateTuitionNow"> in 2023 dollars.</span></p></div>
				</div>
				<div class="flex">	
					<div class="mx-auto text-center"><p>The actual cost of a public university four-year degree now is <span style="font-weight: bold;" id="actualPublicTuition"></span>, and a private university is <span style="font-weight: bold;" id="actualPrivateTuition"></span>.</p></div>
				</div>
			</div>
		</div>
	<footer class="text-center" style="background-color: #f1f1f1;">
	  <!-- Grid container -->
	  <div class="container pt-1">
	    <!-- Section: Social media -->
	    <section class="mb-1">
	      <!-- Github -->
	      <a
	        class="px-4 py-2 border rounded hover:underline text-gray-900 m-1"
	        href="https://github.com/thewhaleking/whydoifeelbroke.com"
	        role="button"
	        ><i class="fab fa-github"></i
	      ></a>
	    </section>
	  </div>
	  <div class="text-center text-dark p-2" style="background-color: rgba(0, 0, 0, 0.2);">
	    American data is pulled from the
	    <a class="text-dark" href="https://download.bls.gov/pub/time.series/cu/cu.data.1.AllItems">Bureau of Labor Statistics</a>
	    and calculated using the Consumer Price Index (CPI) CUSR0000SA0 series.
	    South African data is pulled from <a class="text-dark" href="https://inflationcalc.co.za/data.php">Stats SA</a>.
	    For full list of data sources, see the source code in the GitHub link.
	  </div>
	</footer>
	</div>
</body>
<script>
	{% include './inflation_calc.js' %}
</script>
</html>
