	html {
		height: 100%;
	}

	body {
		color: #f1f1f1;
  		background: linear-gradient(to right, #1abc9c, lightseagreen); 
	}

	/* TODO Clean up the full-screen display of each section and the footer. It's functioning, but not great. */

	.scrollport {
	  height: 900px;
	  overflow-y: scroll;
	  scroll-snap-type: y mandatory; /* TODO consider making this proximity */ 
	}

	.container-fluid {
	  min-height: 100%;
	  font-family: sans-serif;
	  display: block;
	  padding-top: 30px;
	}

	.scrollport  .container-fluid{
	  /*padding-top: 10px;*/
	  scroll-snap-align: start;
	}

	.sticky-center {
		scroll-snap-align: none;
	}

	.navbar {
		padding-left: 20px;
		padding-right: 20px;
	}

	.nav-size {
		height: 10px;
		display: block;
	}

	.snap-end {
		scroll-snap-align: stop;
	}

	footer {
		font-size: 10px;
	}

	input {
         display: block;
         margin : 0 auto;
         text-align: center;
    }

    h2 {
    	text-align: center;
    }